*{
    box-sizing: border-box;
}
body{
    background-color: #282a35;
    color: azure;
    font-family: 'Ubuntu', sans-serif;
}

div{
    padding: 5px;
}

/* Navigation */
.navigation{
    color: aquamarine;
    background-color: black;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li{
    float: left;
}

.navigation li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

.navigation li a:hover{
    color: aqua;
    background-color: #282a35
}

/* Gambar hero */
@keyframes ubah-ubah {
    0% { color: aqua; }
    25% { color: aliceblue; }
    50% { color: blue; }
    75% { color: aquamarine; }
    100% { color: beige; }
}
.hero-image{
    background: url(/Asset/image/bg-full.png) no-repeat center;
    background-size: cover;
    opacity: 1;
    height: 100vh;
    position: relative;
}

.hero-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: ubah-ubah;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Project */
.project-container{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.project-item-left{
    background-color: #333;
    padding: 10px;
    flex: 50%;
}

.project-item-right{
    background-color: #333;
    padding: 10px;
    flex: 50%;
}

